<!DOCTYPE html>
<html>
<head>
	<title>uploading an activity</title>	       
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
	<ul>
		<li><a href="{{url_for('home_logged_in')}}">Home</a></li>
		<li><a href="{{url_for('activities')}}">activities</a></li>
        <li><a href="{{url_for('logout')}}"> Log Out</a></li> 
    </ul>
	<br><br>
	<div class="add">
		<h1>Add an activity</h1>
<form action="/add_activity" method="post">
			<input type="text" name="activity_name" placeholder="activity name">
			<br>
			suitable for ages:
  			<input type="number" name="min-age" min="1"> - <input type="number" name="max-age" min="1">
  			<br>
  			type of activity:
			<select name="activity-type">
				<option value="choose"> </option>
  				<option value="game">Game</option>
  				<option value="session">Session</option>
  				<option value="story">Story</option>
  				<option value="night">night activity</option>
			</select>
			<br>
			<textarea name="content" rows="10" cols="30">write the content here.
			</textarea>
			<br>
			<input type="submit" name="submit" value="Add activity" class="button">
    </form>
    </div>
</body>
</html>