<!DOCTYPE html>
<html>
<head>
	<title>Activities Sharing</title>
</head>
<body>
<div>
	<p>Welcome to the Home Page!</p>
	<br>
	<p>Here you can upload your favorites activities and view what other people uploaded</p>
	<p>to view activities press here</p>
	<a href="{{url_for('activities_feed')}}"> <button type="button" >View All uploaded activites</button></a>
	<p>to upload a new acitivity press here</p>
	<a href="{{url_for('upload_activity')}}"> <button type="button" >upload an activity</button></a>
</div>
</body>
</html>