<!DOCTYPE html>
<html>
<head>
	<title>Activities Sharing</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
</head>
<body>
	<ul>
	<li><a href="{{url_for('home')}}">Home</a></li>
	<li><a href="{{url_for('activities_guest')}}">activities</a></li>
	<li><form action="/search" method="post">
	<input type="text" name="name" placeholder="search by activity name">
		</form></li>
	<li><form method="post">sign in
			<input type="text" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
			<input type="submit" name="submit" value="Sign In" class="special">
	</form></li>
	<li><a href="{{url_for('sign_up')}}">sign up</a></li>
	</ul>
	<br><br><br>
<div class="home">
	<p>Welcome to the Home Page!</p>
	<br>
	<p>Here you can view what other people uploaded</p>
	<a href="{{url_for('activities_guest')}}"> <button type="button" class="button" >view all uploaded activities</button></a>
	<br>
	<br>
	<img src="../static/kids_playing.jpg" height="354" width="629">
</body>
</html>